<select id="testQuery" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT * FROM wechat_mp_follower where 1=1
        <include refid="andStoreId" />
        <include refid="andBirthdayYear" />
        <include refid="andMemberFlag" />
</select>


<!-- 省份城市过滤:参数类型(List<Map<String, List>>):[{"province":"广东","citys":["广州","江门","清远"]},{"province":"厦门","citys":["福建","福州"]}]-->
<!-- sql:and ( ( province = ? and citys in (?, ?, ?)) or ( province = ? ) ) -->
<sql id="andProvinceAndCity">
    <if test="list != null and list.size != 0">
        and
        <foreach collection="list" index="index" item="value" open="(" close=")" separator=" or ">
            (
            province = #{value.province}
            <if test="value.citys != null and value.citys.size != 0">
                AND city IN
                <foreach item="item" index="index" collection="value.citys" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            )
        </foreach>
    </if>
</sql>

<!--会员标识:{-1:"全部",0:"非会员",1:"会员"}-->
<sql id="andMemberFlag">
    <if test='memberFlag != null and "0".equals(memberFlag)'>
    <if test='memberFlag != null and memberFlag == 0'>
        and length(ifnull(card_no, "")) = 0
    </if>
    <if test='memberFlag != null and "1".equals(memberFlag)'>
        and length(ifnull(card_no, "")) > 0
    </if>
</sql>