<?xml version="1.0" encoding="UTF-8"?>
	<!-- 根节点，设置为调试模式 自动重扫描配置文件  -->
<configuration debug="true" scan="true" scanPeriod="11 seconds">
	<!-- 创建event对象之后就会调用，所以建议不要用 -->
	<turboFilter class="com.ztgame.logback.filter.SampleTurboFilter">
		<key>userid=121,</key>
	</turboFilter>

	<!-- 定义控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				%date{yyyy-MM-dd HH:mm:ss} %level [%thread] %10logger[%file:%line] - %msg%n
			</pattern>
		</layout>
		<!-- 这种过滤器是在调用具体的appender动作时执行 -->
<!--		<filter class="com.ztgame.logback.filter.SampleFilter">-->
<!--			<key>userid=121,</key>-->
<!--		</filter>-->
	</appender>

	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>