<?xml version="1.0" encoding="UTF-8"?>
	<!-- 根节点，设置为调试模式 自动重扫描配置文件  -->
<configuration debug="true" scan="true" scanPeriod="11 seconds">
	<!-- 定义控制台输出 -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				%date{yyyy-MM-dd HH:mm:ss} %level [%thread]
				%10logger[%file:%line] - %msg%n
			</pattern>
		</layout>
	</appender>

	<root level="warn">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>